<div class="product-details">
    <app-page-header [title]="prdDetails.name" [totalData]="prdDetails.id"></app-page-header>
    <div class="row">
        <label>Name: <p>{{prdDetails.name}}</p></label>
        <label>Category: <p>{{categoryName}}</p></label>
        <label>Price: <p>{{prdDetails.price}} EGP</p></label>
        <label>Stock: <p>{{prdDetails.stock}}</p></label>
    </div>

    <div class="row">
        <label>Brand: <p>{{prdDetails.brand}}</p></label>
        <label>Model: <p>{{prdDetails.model}}</p></label>
        <label>Warranty: <p>{{prdDetails.warranty}}</p></label>
        <label>Added Date: <p>{{prdDetails.addedDate}}</p></label>
    </div>

    <div class="row">
        <!-- Discount -->
        <div class="dimensions">
            <label>Discount:</label>
            <div class="dimensions-details">
                <p><span>Amount:</span> <span>{{prdDetails.discount.amount}}%</span></p>
                <p><span>Valid Until:</span> <span>{{prdDetails.discount.validUntil}}</span></p>
            </div>
        </div>
        <!-- Dimensions -->
        <div class="dimensions">
            <label>Dimensions:</label>
            <div class="dimensions-details">
                <p><span>Height:</span> {{prdDetails.dimensions.height}}</p>
                <p><span>Width:</span> {{prdDetails.dimensions.width}}</p>
                <p><span>Weight:</span> {{prdDetails.dimensions.weight}}</p>
            </div>
        </div>
        <!-- Colors -->
        <div class="colors">
            <label>Colors:</label>
            <div class="colors-details">
                @for (col of prdDetails.color; track $index) {
                <p [style.color]="col">{{col}}</p>
                }
            </div>
        </div>
        <!-- Description -->
        <div class="colors">
            <label>Description:</label>
            <div class="colors-details">
                <p><span>{{prdDetails.description}}</span></p>
            </div>
        </div>

    </div>
<div class="row review-image">
    <!-- Reviews -->
    <div class="reviews">
        <label>Product Reviews</label>
        <div class="reviews-cards">
            @for (review of prdDetails.review; track $index) {
            <div class="review-card">
                <p>{{review.comment}}</p>

                <div class="user-rating">
                    <p>{{review.user}}</p>
                    @for (rat of getStarsArray(review.rating); track $index) {
                    <img src="/assets/images/star-solid.svg" alt="star">
                    }
                    @for (rat of getStarsArray(5-review.rating); track $index) {
                    <img src="/assets/images/star-regular.svg" alt="star">

                    }
                </div>
            </div>
            }

        </div>
    </div>
    <div class="product-img">
        <img [src]="prdDetails.imageUrl" alt="product image">
    </div>

</div>




</div>