<form [formGroup]="productsListFilterForm" [style.left]="getLang == 'ar'?'5.5rem':''"
[style.right]="getLang == 'en'?'5.5rem':''"
[ngClass]="getLang == 'ar'? 'form-left' : 'form-right'"
#popOver
>

    <!-- <div class="errors">
        @for (err of formErrors; track $index) {
            <div class="error">
                <img src="/assets/images/error.svg" alt="an error">
                <p>{{err}}</p>
            </div>
        }
    </div> -->
    <div class="form-inputs">

        <div class="row">
            <div class="label-input">
                <input type="text" formControlName="id" [ngClass]="getLang == 'ar'? 'input-left' : 'input-right'">
                <label *ngIf="!id" [ngClass]="getLang == 'ar'? 'label-left' : 'label-right'" >{{ "PRODUCT.ID" | translate }}</label>
            </div>

            <div class="label-input">
                <input type="text" formControlName="name"  [ngClass]="getLang == 'ar'? 'input-left' : 'input-right'"/>
                <label *ngIf="!name" [ngClass]="getLang == 'ar'? 'label-left' : 'label-right'"> {{ "PRODUCT.NAME" | translate }}</label>
            </div>
        </div>

        <div class="row">
            <div class="label-input" >
                    <app-dropdown-list [data]="categoryList" formControlName="categoryName"></app-dropdown-list>
                <!-- <select formControlName="categoryName" [ngClass]="getLang == 'ar'? 'label-left' : 'label-right'" 
                [ngClass]="getLang == 'ar'? 'input-left' : 'input-right'">
                    @for (cat of categoryList; track $index) {
                        <option [value]="cat">{{cat}}</option>
                    }
                </select> -->
                <label *ngIf="!categoryName" [ngClass]="getLang == 'ar'? 'label-left' : 'label-right'">{{ "CATEGORY.NAME" | translate }}</label>
            </div>

            <div class="label-input">
                <input type="text" formControlName="minPrice"  [ngClass]="getLang == 'ar'? 'input-left' : 'input-right'"/>
                <label *ngIf="!minPrice" [ngClass]="getLang == 'ar'? 'label-left' : 'label-right'">{{ "PRODUCT.MIN_PRICE" | translate }}</label>
            </div>
        </div>
        <div class="row">
            <div class="label-input">
                <input type="text" formControlName="maxPrice"  [ngClass]="getLang == 'ar'? 'input-left' : 'input-right'"/>
                <label *ngIf="!maxPrice" [ngClass]="getLang == 'ar'? 'label-left' : 'label-right'">{{ "PRODUCT.MAX_PRICE" | translate }}</label>
            </div>
        </div>


    </div>
    <div class="control-buttons">
        <input type="button" [value]="'PRODUCT.PRODUCTS_FILTER' | translate" class="normal-button" (click)="filterList()" />
        <input type="button" [value]="'GENERAL.RESET' | translate" class="normal-button" (click)="resetFilter()"/>
    </div>

</form>