<nav>
    <div class="main-nav">
        <label class="expand">{{'PRODUCT.PRODUCTS' | translate}}</label>
        <div class="side-nav">
            <a (click)="onNavigate('/products/products-list')" >{{'PRODUCT.PRODUCTS_LIST' |translate}}</a>
            <a (click)="onNavigate('/products/new-product')" >{{'PRODUCT.NEW_PRODUCT' |translate}}</a>
        </div>
    </div>

    <div class="main-nav">
        <label class="expand">{{'SHIPMENT.SHIPMENTS' | translate}}</label>
        <div class="side-nav">
            <a (click)="onNavigate('/shipments/shipments-list')" >{{'SHIPMENT.SHIPMENTS_LIST' |translate}}</a>
            <a (click)="onNavigate('/shipments/new-shipment')" >{{'SHIPMENT.NEW_SHIPMENT' |translate}}</a>
        </div>
    </div>

</nav>
