<nav>
    <div class="main-nav">
        <label class="expand">Products</label>
        <div class="side-nav">
            <a (click)="onNavigate('/products-list')" >Products List</a>
            <a (click)="onNavigate('/new-product')" >New Product</a>
        </div>
    </div>

    <div class="main-nav">
        <label class="expand">Shipments</label>
        <div class="side-nav">
            <a (click)="onNavigate('/shipments-list')" >Shipment List</a>
            <a (click)="onNavigate('/new-shipment')" >New Shipment</a>
        </div>
    </div>

</nav>
