

<app-page-header title="SHIPMENT.SHIPMENTS_LIST" [totalData]="numberOfItems"></app-page-header>
<div class="filter-excel-buttons" [style.direction]="getLang =='en'?'rtl':'ltr'">
    <div class="normal-button" (click)="toggleFilter()">
        <img src="/assets/images/filter-solid.svg" alt="filter">
        <div type="button">{{'GENERAL.FILTER' | translate}}
        </div>
    </div>
    <div class="normal-button excel-button" (click)="exportToExcel()">
        <img src="/assets/images/file-csv-solid.svg" alt="excel">
        <div type="button"> {{'GENERAL.EXPORT_TO_EXCEL' | translate}}
        </div>
    </div>


</div>


@if (showFilter) {
    <app-shipments-list-filter (doFilter)="onFilter($event)"></app-shipments-list-filter>
}

<div class="table-container">
<table>
    <thead>
        @for (col of shipmentsListColumns; track $index) {
            <th>{{ col.label | translate }}</th>
        }
        <th>{{'GENERAL.DETAILS' | translate}}</th>
    </thead>

    <tbody>
        @for (ship of filteredShipmentsList; track $index) {
            <tr>
                @for (col of shipmentsListColumns; track $index) {
                    @if (col.valueTransformation) {
                        <td>{{col.valueTransformation(ship[col.property])}}</td>
                    }
                    @else {
                        <td>{{ ship[col.property] }}</td>
                    
                    }
                }
                <td>
                    <app-more-icon url= '/shipments/shipment-details' [id]="ship.id"></app-more-icon>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<!-- <app-table-paginator [numberOfPages]="numberOfPages"
   (onProductChange)="onProductChange($event)"
></app-table-paginator> -->