<form (ngSubmit)="onAddShipment()" [formGroup]="newShipmentForm">
    <!-- <div class="errors">
        @for (err of formErrors; track $index) {
        <div class="error">
            <img src="/assets/images/error.svg" alt="an error">
            <p>{{err}}</p>
        </div>
        }
    </div> -->
    <div class="form-inputs">
        <!-- Users Details -->
        <div class="users-details">
            <h2>{{'SHIPMENT.USERS_DETAILS' | translate}}</h2>
            <div class="row">
                <div class="label-input">
                    <label>{{ "SHIPMENT.ID" | translate }}</label>
                    <input type="text" class="disabled-input" formControlName="id" [readOnly]="true" />
                </div>

                <div class="label-input">
                    <label>{{ "SHIPMENT.SENDER" | translate }}</label>
                    <input type="text" formControlName="sender" />
                </div>

                <div class="label-input">
                    <label>{{ "SHIPMENT.RECEIVER" | translate }}</label>
                    <input type="text" formControlName="receiver" />
                </div>
            </div>

        </div>
        <!-- Shipment Details -->
        <div class="shipment-details">
            <h2>{{'SHIPMENT.SHIPMENT_DETAILS' |translate}}</h2>
            <div class="row">
                <div class="label-input">
                    <label>{{ "SHIPMENT.CARRIER" | translate }}</label>
                    <!-- <input type="text" formControlName="carrier" /> -->
                    <select formControlName="carrier">
                        @for (car of carriers; track $index) {
                        <option [value]="car.name">{{car.name}}</option>
                        }
                    </select>
                </div>


                <!-- Origin -->
                <div class="internal-form" formGroupName="origin">
                    <h2>{{ "SHIPMENT.ORIGIN" | translate }}</h2>
                    <div class="label-input">
                        <label>{{ "SHIPMENT.STREET" | translate }}</label>
                        <input type="text" formControlName="street" [value]="originLocation.street"/>
                    </div>
                    <div class="label-input">
                        <label>{{ "SHIPMENT.CITY" | translate }}</label>
                        <input type="text" formControlName="city" [value]="originLocation.city" />
                    </div>
                    <div class="label-input">
                        <label>{{ "SHIPMENT.COUNTRY" | translate }}</label>
                        <input type="text" formControlName="country" [value]="originLocation.country" />
                    </div>
                </div>

                <!-- Destination -->
                <div class="internal-form" formGroupName="destination">
                    <h2>{{ "SHIPMENT.DESTINATION" | translate }}</h2>
                    <div class="label-input">
                        <label>{{ "SHIPMENT.STREET" | translate }}</label>
                        <input type="text" formControlName="street" />
                    </div>
                    <div class="label-input">
                        <label>{{ "SHIPMENT.CITY" | translate }}</label>
                        <input type="text" formControlName="city" />
                    </div>
                    <div class="label-input">
                        <label>{{ "SHIPMENT.COUNTRY" | translate }}</label>
                        <input type="text" formControlName="country" />
                    </div>
                </div>
            </div>
        </div>


        <div class="products-details" formArrayName="product">
            <h2>{{'PRODUCT.PRODUCTS_DATA_DETAILS' |translate}}</h2>
            @for (prd of productFormArray.controls; track $index ; let idx  = $index) {
                <div class="row" [formGroupName]="idx">
                    <div class="label-input">
                        <label>{{ "PRODUCT.NAME" | translate }}</label>
                        <select formControlName="name"  class="scrollable-select">
                            @for (prd of products; track prd.id) {
                                <option [value]="prd.name">{{prd.name}}</option>
                            }
                        </select>
                    </div>
                    <div class="label-input">
                        <label>{{ "PRODUCT.QUANTITY" | translate }}</label>
                        <input type="text" formControlName="quantity" />
                    </div>
                    <div class="label-input">
                        <label>{{ "SHIPMENT.NOTES" | translate }}</label>
                        <textarea formControlName="notes"></textarea>
                    </div>
                    
                    <div class="remove-product" (click)="onRemoveProduct(idx)" *ngIf="productFormArray.length>1"> 
                        <img src="/assets/images/trash-solid.svg" alt="remove">
                    </div>
                </div>
            }

            <div class="add-product" (click)="onAddProduct()"> 
                <img src="/assets/images/plus-solid.svg" alt="add"> 
            </div>

        </div>




    </div>
    <input type="submit" [value]="'SHIPMENT.ADD_SHIPMENT' | translate" class="normal-button" />
</form>