.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.9;
}
.loading img{
    
    width: 150px;
}