<app-page-header title="PRODUCT.PRODUCTS_LIST" [totalData]="numberOfItems"></app-page-header>
<!-- <input type="button" value="New Product" class="normal-button" (click)="onNewProduct()"> -->
<div class="filter-excel-buttons" [style.direction]="getLang =='en'?'rtl':'ltr'"> 

    <input type="button" [value]="'GENERAL.FILTER' | translate" class="normal-button" (click)="toggleFilter()">

    <input type="button" [value]="'GENERAL.EXPORT_TO_EXCEL' | translate" class="normal-button excel-button"
        (click)="exportToExcel()">

</div>


@if (isFiltered) {
<app-products-list-filter (doFilter)="onFilter($event)" *ngIf="showFilter"></app-products-list-filter>
}

<div class="table-container">
    <table>
        <thead>
           
            @for (col of productListColumns; track $index) {
            <th>{{ col.label | translate }}</th>
            }
            <th>{{'GENERAL.DETAILS' | translate}}</th>
      
        </thead>

        <tbody>
            @for (prd of filteredPrdList; track $index) {
            <tr>
                @for (col of productListColumns; track $index) {
                @if (col.valueTransformation) {
                <td>{{col.valueTransformation(prd[col.property])}}</td>
                }
                @else {
                <td>{{ prd[col.property] }}</td>

                }
                }
                <td>
                    <app-more-icon url="/products/product-details" [id]="prd.id"></app-more-icon>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<app-table-paginator [numberOfPages]="numberOfPages" (onProductChange)="onProductChange($event)"></app-table-paginator>