<app-page-header title="PRODUCT.PRODUCTS_LIST" [totalData]="numberOfItems"></app-page-header>
<!-- <input type="button" value="New Product" class="normal-button" (click)="onNewProduct()"> -->
<div class="filter-excel-buttons" [style.direction]="getLang =='en'?'rtl':'ltr'">
    <div class="normal-button" (click)="toggleFilter()">
        <img src="/assets/images/filter-solid.svg" alt="filter">
        <div type="button">{{'GENERAL.FILTER' | translate}}
        </div>
    </div>
    <div class="normal-button excel-button" (click)="exportToExcel()">
        <img src="/assets/images/file-csv-solid.svg" alt="excel">
        <div type="button"> {{'GENERAL.EXPORT_TO_EXCEL' | translate}}
        </div>
    </div>


</div>


@if (isFiltered) {
<app-products-list-filter (doFilter)="onFilter($event)" *ngIf="showFilter"></app-products-list-filter>
}

<div class="table-container">
    <table>
        <thead>

            @for (col of productListColumns; track $index) {
            <th>{{ col.label | translate }}</th>
            }
            <th>{{'GENERAL.DETAILS' | translate}}</th>

        </thead>

        <tbody>
            @for (prd of filteredPrdList; track $index) {
            <tr>
                @for (col of productListColumns; track $index) {
                @if (col.valueTransformation) {
                <td>{{col.valueTransformation(prd[col.property])}}</td>
                }
                @else {
                <td>{{ prd[col.property] }}</td>

                }
                }
                <td>
                    <app-more-icon url="/products/product-details" [id]="prd.id"></app-more-icon>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<app-table-paginator [numberOfPages]="numberOfPages" (onProductChange)="onProductChange($event)"></app-table-paginator>